.blog_post_page {
    padding: var(--measure-1) 0;
}

.blog_post {
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: min(100vw, 50rem);
}

/* @media (min-width: 640px) {
    .blog_post_page {
        padding-left: 15%;
    }
} */

.blog_post h2 {
    margin-top: var(--measure-2);
    font-size: var(--measure-2-half);
    line-height: 1.2;
    color: rgb(52 211 153);
}

.blog_post p {
    margin: var(--measure-half) 0;
    font-size: var(--measure-1-half);
    line-height: 1.6;
}

.blog_post img {
    max-width: 384px;
}
