.home_page {
  overflow-y: scroll;
}

.left_background {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;

  background: linear-gradient(135deg, var(--color-main-1) 0 calc((25vh + 25vw) * 1.414), rgba(0,0,0,0) calc((25vh + 25vw) * 1.414)) no-repeat;
  background-attachment: scroll;

  z-index: -3;
}

.right_background {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;

  background: linear-gradient(135deg, rgba(0,0,0,0) 0 calc((25vh + 25vw) * 1.414), var(--color-main-2) calc((25vh + 25vw) * 1.414)) no-repeat;
  background-attachment: scroll;

  z-index: -3;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 var(--measure-2) var(--measure-2) var(--measure-2);
}

.main_text {
  flex: 1 1 40%;

  min-width: min(25rem, 90vw);
  max-width: 35rem;
  
  margin: var(--measure-1);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main_text > div {
  width: fit-content;

  background-color: var(--color-main-p);
  box-shadow: var(--measure-half) var(--measure-half) var(--color-shadow);

  padding-bottom: var(--measure-half);
}

.main_text p {
  font-size: var(--measure-1-half);
  padding: var(--measure-half) var(--measure-1);
  margin: 0;
}

.main_text a {
  color: rgb(3 7 18);
  text-decoration: underline;
}

.main_text a:hover {
  color: rgb(87 83 78);
}

.photo {
  flex: 1 1 40%;

  min-width: min(25rem, 90vw);
  max-width: 35rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  margin: var(--measure-1);
}

.photo img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: var(--measure-half) var(--measure-half) var(--color-shadow);
}

.header_links {
  flex: 1 1 20%;
  margin: var(--measure-1) var(--measure-1) var(--measure-1) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link_wrapper {
  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link_wrapper > div > a > div {
  overflow: hidden;
  position: relative;
  display: block;

  font-size: var(--measure-2);

  box-shadow: var(--measure-half) var(--measure-half) var(--color-shadow);
}

.header_links div div {
  padding: var(--measure-half);
}

/* .header_links div.link_icon::before, */
.link_icon::before {
  content: '';
  position: absolute;
  top: 0%;
  left: -230%;
  height: 100%;
  width: 350%;
  transform: scale(1);
  transform-origin: top left;
  transition: transform .4s ease-out;
  background: linear-gradient(135deg, var(--color-main-p) 0 50%, var(--color-header) 50% 100%);
  overflow: hidden;
  z-index: -1;
}

div:hover > .link_icon::before
{
  transform: translateX(60%);
}

.header_links .link_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.link_icon {
  padding: 0 !important;
  overflow-y: visible;
}

.link_icon div {
  margin: 0;
  padding: 0 !important;
  height: 2rem;
  width: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.link_icon div img {
  min-width: 0;
  min-height: var(--measure-2);
  flex: 1 1 75%;
}

.link_icon div p {
  flex: 1 1 25%;
  margin: 0;
  padding: 0;

  font-size: var(--measure-half);
}

@media (min-width: 640px) {
  .link_icon div {
    height: 3rem;
    width: 3rem;
  }

  .link_icon div img {
    min-height: 2rem;
  }

  .link_icon div p {
    font-size: var(--measure-1);
  }
}

@media (min-width: 768px) {
  .link_icon div {
    height: 4rem;
    width: 4rem;
  }

  .link_icon div img {
    min-height: 3rem;
  }

  .link_icon div p {
    font-size: var(--measure-1);
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow: visible;

  margin: var(--measure-1) var(--measure-1) 0 var(--measure-1);
}

h1.header_h1 {
  flex: 1 1 20%;

  font-size: var(--measure-3);
  margin: var(--measure-1) var(--measure-1) 0 var(--measure-1);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  h1.header_h1 {
    font-size: var(--measure-4);
  }
}

.header h1 span {
  background-color: var(--color-main-1);
}